/* line: 571 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
	line-height: 1.5;
}
a, a:hover, a:active, a:visited {
    color: #333;
    font-weight: bold;
}
main {
    position: relative;
}
img {
    display: block;
    border: 0;
    width: 100%;
    height: auto;
    width: auto;
}
img.original {
    position: absolute;
    cursor: default;
}
img.more, img.closeButton, img.moreButton {
    cursor: pointer;
}
.mainNav {
    width: 100%;
    height: 3em;
    overflow: hidden;
}
main {
    min-width: 480px;
}
.segment {
    width: 100%;
    position: relative;
    overflow-x: hidden;
}
/* web */
body#webDesign main {
    overflow-x: hidden;
    height: 100vh;
    min-width: 100vw;
    overflow-y: scroll;
}
body#webDesign h1 {
    display: inline;
}
body#webDesign span {
    font-weight: bold;
}
.doubleSegment {
    width: 200vw;
}
.half {
    width: 100vw;
    position: absolute;
}
.half p {
    margin-left: 2em;
}
.opArt {
    left: 0;
}
.redesign {
    left: 100vw;
}
.redesign.show {
    left: 0;
    background: white;
    z-index: 20;
    height: 2000px;
}
.redesign.show {
    left: 0;
}
.sideToggle {
    color: white;
    width: 23vw;
    height: 40vw;
    max-height: 100px;
    max-width: 200px;
    position: absolute;
    cursor: pointer;
    text-align: center;
    padding: 1em 0;
}
.opArt .sideToggle {
    right: 0;
    z-index: 100;
}
.opArt .sideToggle2 {
    font-size: 1.1em;
}
.redesign .sideToggle {
    left: 0;
}
.sideToggle.previous {
    left: 0;
    color: rgba(173,173,173, .7);
}
.sideToggle.next {
    left: 77vw;
    background-color: rgba(173,173,173, .7);
}
.responsiveSizes {
    width: 100vw;
    position: relative;
}
p.frontpage {
    font-weight: bold;
}
p.responsive {
    width: 70%;
    cursor: pointer;
    color: #333;
    font-size: .8em;
    margin-left: 2.5em;
    position: relative;
    top: 3vw;
    z-index: 1;
}
.wrapper {
    width: 80vw;
    height: 75vw;
    margin-left: 12vw;
    position: relative;
}
.wrapper div, img.homeOrCamera {
    position: absolute;
}
.wrapper ~a {
    margin-left: 2em;
}
.wrapper ~a ~img {
    width: 125px;
    margin-left: 2em;
    position: relative;
}
.device {
    width: 28%;
    height: 60%;
    border-radius: 1em;
    bottom: 2em;
    border: 2px solid black;
}
.screen {
    bottom: 12%;
    left: 5%;
    width: 90%;
    height: 80%;
    border: 1px solid black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.frontpage .screen {
    background-image: url(img/web/frontpage.jpg);
}
.homeOrCamera {
    width: 16%;
    height: auto;
    bottom: .3em;
    left: 42%;
}
.homeOrCameraFull {
    display: none;
}
.device.padV {
    width: 48%;
    height: 80%;
    border-radius: 1em;
}
.device.padV.frontpage .screen {
    background-image: url(img/web/frontpage-padV.jpg);
}
.device.padH {
    width: 75%;
    height: 50%;
    border-radius: 1em;
}
.device.computer.frontpage .screen {
    background-image: url(img/web/frontpage-computer.jpg);
}
.device.computer {
    width: 90%;
}
.device.padH .screen {
    left: 12%;
    top: 5%;
    width: 80%;
    height: 90%;
}
.device .screen {
    top: 9%;
}
.device.padV .homeOrCamera {
    width: 14%;
    bottom: .3em;
    left: 42%;
}
.device.padH .homeOrCamera {
    width: 8%;
    left: .3em;
    top: 42%;
}
.device.computer .homeOrCamera {
    display: none;
}
.device.computer .homeOrCameraFull {
    display: inherit;
    position: absolute;
    width: 2%;
    left: 49%;
    top: .5em;
}
.computerBase {
    width: 104%;
    position: absolute;
    left: -7%;
    bottom: 1.2em;
    display: none;
}
.navigation .screen {
    background-image: url('img/web/navigation.jpg');
}
.navigation.padV .screen {
    background-image: url('img/web/navigation-padV.jpg');
}
.navigation.padH .screen {
    background-image: url('img/web/navigation-padH.jpg');
}
.navigation.computer .screen {
    background-image: url('img/web/navigation-computer.jpg');
}
.content .screen {
    background-image: url('img/web/content.jpg');
}
.content.padV .screen {
    background-image: url('img/web/content-padV.jpg');
}
.content.padH .screen {
    background-image: url('img/web/content-padH.jpg');
}
.content.computer .screen {
    background-image: url('img/web/content-computer.jpg');
}
.opArtTests {
    margin-top: 2em;
}
body#webDesign .opArtTests  h1, .opArtTests  h3 {
    display: block;
    text-align: right;
    padding-right: 1em;
}
.opArtTests  h3 {
    margin-right: 1em;
}
.frontpageDesign {
    width: 100%;
    min-height: 430px;
    position: relative;
}
.frontpageDesign:nth-child(odd) img:not(.arrowDown) {
    width: 65%;
    margin-left: 35%;
}
.frontpageDesign:nth-child(even) img:not(.arrowDown){
    width: 65%;
    min-height: 300px;
    margin-right: 35%;
}
.frontpageDesignDesc {
    width: 60%;
    position: absolute;
    padding: 4em 2em 4em 1em;
    background-color: rgba(255,255,255,.7);
    bottom: -1em;
    z-index: 1;
}
.frontpageDesign:nth-child(even) .frontpageDesignDesc {
    padding: 4em 1em 4em 1em;
    text-align: right;
}
.frontpageDesignDesc p {
    font-size: .9em;
    margin-bottom: .7em;
}
.frontpageDesignDesc span {
    font-weight: bold;
}
.frontpageDesign:nth-child(odd) .frontpageDesignDesc {
    left: 0;
}
.frontpageDesign:nth-child(even) .frontpageDesignDesc {
    right: 0;
}
.frontpageDesign img.arrowDown {
    width: 20px;
    height: 17px;
    margin: 1em 73%;
}
.frontpageDesign:nth-child(odd) img.arrowDown {
    margin: 1em 27%;
}
.finalFrontpage img {
    display: inline;
}
.finalFrontpage p {
    margin-top: 1em;
    font-weight: bold;
}
.finalFrontpage img:first-of-type {
    width: 34%;
    border-right: 1px solid #aaa;
}
.finalFrontpage img:nth-of-type(2) {
    width: 64%;
}
.finalFrontpage img:nth-of-type(3) {
    width: 100%;
    border-top: 1px solid #aaa;
}
#arrowInFinal {
    width: 30px;
    transform: rotate(90deg)
}
.navigationTest img {
    width: 100%;
}
.navigationTest img:first-of-type {
    display: none;
}
.navigationTest ul {
    margin: 0 1.8em;
    list-style:disc;
}
.navigationTest li {
    font-size: .9em;
}
.clickableTest img {
    width: 80%;
    margin-left: 10%;
}
.opArtOri {
    padding-top: 2em;
}
.opArtOri img {
    height: 4.6em;
}
.opArtOri a {
    margin-left: 3em;
}
/* redesign */
.redesign, .compare {
    position: relative;
}
.compare {
    top: 130px;
}
.redesignInfo {
    position: relative;
    right: 0;
    top: 100px;
}
.redesignDesc {
    position: absolute;
    background: white;
    z-index: 2;
    padding: 1em;
}
.redesignDesc p {
    margin-bottom: 1em;
}
#redesignMore, #redesignLess {
    display: inherit;
}
#redesignMore.hide, #redesignLess.hide {
    display: none;
}
.redesign img:not(.icon) {
    width: 90%;
    margin-left: 5%;
}
.compare p {
    text-align: center;
    color: #555;
    font-size: 1.5em;
}
.redesignM {
    padding-top: 2em;
}
#redesignOri {
    width: 50px;
    margin-left: 0;
    position: relative;
    top: 2em;
}
.redesign a:not(.noMove) {
    margin: -2em 4em;
}
.redesign hr {
    margin-top: 2em;
}
/* animation */
.mrBall > div {
    width: 90vw;
    height: 60vw;
    margin: 1em auto;
    border: 1px solid black;
    position: relative;
}
div.toggleStage, div.mrBallOri {
    height: 3em;
    padding-top: 1em;
}
.toggleStage span:not(:first-of-type) {
    margin-left: 3em;
}
.toggleStage span.selected {
    font-weight: bold;
}
.mrBallDesc {
    width: 70%;
    border: 3px dotted green;
}
.mrBallDesc p {
    font-size: .9em;
    font-weight: bold;
}
.mrBallSample{
    border: 1px solid red;
    position: absolute;
}
.mrBallLow {
    width: 70%;
    height: 30%;
    bottom: 30%;
}
.mrBallTall {
    width: 30%;
    height: 70%;
    right: 0;
    top: 0;
}
.mrBallWide {
    width: 100%;
    height: 30%;
    bottom: 0;
}
.mrBallFull {
    width: 100%;
    height: 70%;
    bottom: 0;
}
.story {
    height: 180vw;
    min-height: 912px;
    overflow: hidden;
}
.storyIdeaStyleTile, .storyboardWorksheet {
    margin: 2em 0;
    width: 100%;
    min-width: 480px;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    position: relative;
}
.storyIdeaStyleTile {
    margin-top: 0;
    height: 76vw;
    background-image: url(img/animation/storytile.jpg);
}
.storyIdeaStyleTile a, .worksheet a {
    margin-left: 5em;
}
.storyIdeaStyleTile img.originalDown {
    height: 2em;
    bottom: -2em;
    left: 5em;
}
.storyboardWorksheet {
    height: 73vw;
    background-image: url()
}
.storyIdeaStyleTile a {
    position: absolute;
    bottom: 0;
}
.storyDesc {
    width: 64%;
    height: 64%;
    position: absolute;
    padding: 2em 0 1em 6em;
    overflow-y: scroll;
    font-size: .8em;
    cursor: s-resize;
}
.storyDesc:first-of-type {

}
.storyDesc > p {
    font-size: .85em;
}
.storyDesc h4 {
    margin-top: 1em;
}
.worksheetDesc {
    height: 15em;
}
.worksheetDesc h2 {
    margin-top: 0;
}
.worksheet {
    width: 90vw;
    height: 52vw;
    max-width: 960px;
    max-height: calc(362px + 5em);
    position: absolute;
    top: 13em;
    left: 3vw;
    overflow: scroll;
}
.worksheet img {
    height: auto;
    position: absolute;
    top: 0;
    cursor: pointer;
}
.worksheetOri {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7em;
}
.worksheetOri img.originalRight {
    height: 5em;
    width: auto;
    top: 1.9em;
    right: 0;
    cursor: default;
}
.storyboardWorksheet a {
    position: absolute;
    right: 3em;
}
.storyboardWorksheet a:nth-of-type(5) {
    bottom: 0;
}
.storyboardWorksheet a:nth-of-type(4) {
    bottom: 1em;
}
.storyboardWorksheet a:nth-of-type(3) {
    bottom: 2em;
}
.storyboardWorksheet a:nth-of-type(2) {
    bottom: 3em;
}
.storyboardWorksheet a:nth-of-type(1) {
    bottom: 4em;
}
a.spriteSheet {
    color: #777;
}
.animationProjects {
    overflow-y: hidden;
}
.jsProjectsOri {
    text-align: right;
    padding-right: 1em;
}
iframe.projectScene {
    width: 65vw;
    height: 65vw;
    float: right;
    background-color: #eee;
}
.afterIframe {
    font-size: .8em;
    color: #777;
    position: absolute;
    bottom: 0;
    right: .5em;
}
.strangelove h2 {
    text-align: left;
    margin-left: 2em;
}
.strangelove p {
    margin: 0 .5em 1em 3em;
}
.gameImgs {
    position: relative;
    width: 100vw;
}
.gameImgs img {
    cursor: pointer;
}
img.drStrangelove, .strangeloveOri {
    width: 41%;
    position: absolute;
    top: 0;
    left: 55%;
}
.strangeloveOri {
    height: 50%;
    top: 50%;
    text-align: right;
}
.strangeloveOri img {
    width: 20%;
    float: right;
    position: absolute;
    right: 0;
    bottom: 5em;
}
.strangeloveOri p {
    margin: 0 -1em 1em 0;
    padding-right: 1em;
    line-height: 2.6em;
}
.strangeloveOri p:first-of-type {
    margin-top: -2.6em;
}
.strangeloveInfo {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    font-weight: bold;
    text-align: left;
}
.strangeloveInfo p {
    margin-left: 2em;
}
.strangeloveInfo p:first-of-type {
    margin-top: 2em;
}
img.game {
    width: 50%;
    max-width: 500px;
    display: inline;
    float: left;
    margin-top: 5px;
}

/* ux */
h1 {
    display: inline;
    margin-left: 1em;
}
h5 {
    margin: 0 2.5em;
}
img.icon {
    width: 40px;
    display: inline;
    margin-left: 1em;
}
div.infoSH {
    width: 80%;
    height: auto;
    padding: 1em;
    border-radius: 1em;
    background-color: white;
    position: absolute;
    left: 10%;
    top: 5em;
    font-size: 13px;
    opacity: 0;
}
div.infoSH.show {
    z-index: 2;
    animation: showInfoSH .5s forwards;
}
@keyframes showInfoSH {
    to {
        opacity: 1;
    }
}
.introSH {
    height: 530px;
}
img.hub {
    width: 100%;
    position: absolute;
    bottom: 0;
}
div.line1 {
    height: 0;
    width: 30%;
    border-left: 1px dotted #2258A4;
    position: absolute;
    left: 5em;
    bottom: 50vw;
    padding-left: 1em;
}
div.line1.lineAnimation1 {
    animation: line1Up 1s ease-in forwards;
}
@keyframes line1Up {
    to {
        height: 100px;
    }
}
div.lines p {
    opacity: 0;
    line-height: .8;
    color: #2258A4;
    font-weight: bold;
}
div.line1 p {
    animation: showP .5s .7s forwards;
}
div.line2 p {
    animation: showP .7s 4.2s forwards;
}
div.line3 p {
    animation: showP 1s 2.1s ease-out forwards;
}
@keyframes showP {
    to {
        opacity: .85;
    }
}
div.line1.lineAnimation1 p, div.line2.lineAnimation2 p, div.line3.lineAnimation3 p {
    font-size: 14px;
    background: white;
    padding: .75em;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
}
div.line1.lineAnimation1 p {
    left: -3em;
}
div.line1.lineAnimation1 p:first-of-type {
    top: 2em;
}
div.line3.lineAnimation3 p:first-of-type {
    top: -5em;
}
div.line3.lineAnimation3 p:nth-of-type(3) {
    top: -1em;
}
div.line3.lineAnimation3 p:nth-of-type(2) {
    top: -3em;
}
div.line2.lineAnimation2 p:first-of-type {
    top: -7em;
    left: -1em;
}
div.line2.lineAnimation2 p:nth-of-type(2) {
    top: -5em;
    left: -1em;
}
div.line3 {
    height: 0;
    width: 0;
    border-right: 1px dotted #2258A4;
    border-top: 1px dotted #2258A4;
    position: absolute;
    bottom: 50%;
    right: 7em;
    z-index: 2;
}
div.line3.lineAnimation3 {
    animation: line3UpLeft 1s 1.6s ease-out forwards;
}
@keyframes line3UpLeft {
    50% {
        height: 50px;
        width: 0;
    }
    100% {
        height: 50px;
        width: 31%;
    }
}
div.line2 {
    height: 0;
    width: 0;
    border-right: 1px dotted #2258A4;
    border-top: 1px dotted #2258A4;
    position: absolute;
    bottom: 50%;
    right: 60%;
}
div.line2.lineAnimation2 {
    animation: line2UpLeft 1s 3.1s ease-out forwards;
}
@keyframes line2UpLeft {
    50% {
        height: 157px;
        width: 0;
    }
    100% {
        height: 157px;
        width: 110px;
    }
}
img.slideDown {
    display: block;
    height: 30px;
    width: 40px;
    margin: 2em auto;
}
div.descSH {
    text-align: center;
    padding: 1em 2em;
    margin-bottom: 2em;
}
div.descSH p {
    margin-top: 1em;
}
h2 {
    text-align: center;
    margin: 1em 0;
}
a.pdf {
    text-decoration: underline;
    margin: 1em 0 0 3em;
}
.report section {
    padding: .5em 3em;
}
.report section h3 {
    display: inline;
    margin: 1em 0;
    font-size: 1.3em;
}
.report section h3 ~img {
    width: 2em;
}
.report section p {
    display: none;
    height: 0;
    opacity: 0;
    margin-top: 1em;
}
.report section p.expand {
    display: inherit;
    animation: expandReport 1s ease-in forwards;
}
@keyframes expandReport {
    50% {
        height: auto;
        opacity: 0;
    }
    100% {
        height: auto;
        opacity: 1;
    }
}
.report .original {
    width: 95px;
    bottom: 0em;
    left: 3em;
}
.report {
    padding-bottom: 3em;
}
.bmc img {
    width: 100%;
}
img.pdf {
    width: 20px;
    margin-left: 0;
}
img.logo {
    width: 70%;
    max-width: 480px;
    margin-left: 5%;
}
.aboutLogoDesignWrapper {
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -90%;
    padding: 1.5em;
    font-size: 14px;
}
.aboutLogoDesignWrapper.slideOut {
    animation: wdilSlideOut .5 ease-out forwards;
    right: -45%;
}
@keyframes wdilSlideOut {
    to{
        right: 250px;
    }
}
.wdil {
    width: 9%;
    position: absolute;
    left: -7%;
    cursor: pointer;
}
.slideFat {
    width: 7%;
    position: absolute;
    left: -7%;
    top: 31%;
    cursor: pointer;
}
.aboutLogoDesign {
    background-color: white;
    padding: .5em 1em 2em 1em;
}
.aboutLogoDesign p {
    margin-top: 1em;
}
.aboutLogoDesign a {
    margin-left: 0;
}
.logoFinal {
    width: 32%;
    margin-left: 1%;
    float: left;
}
.pitch {
    text-align: center;
}
.pitch p, .dilemma p {
    padding: 0 2em;
    margin-bottom: 1em;
}
.pitch a {
    margin-left: 0em;
}
img.pitchOriginalIcon {
    position: inherit;
    width: 200px;
    margin-left: calc(50vw - 100px);
    margin-bottom: 10px;
}
iframe {  /* which one is this? */
    width: 100%;
    height: 0;
    border: none;
    margin: 1em 0;
}
.hide {
    display: none;
}
/* 576 */
@media screen and (min-width: 36em){
    /* web */
    .wrapper {
        width: 72vw;
        height: 67.5vw;
        margin-left: 16vw;
    }
    .frontpageDesign {
        min-height: inherit;
    }
    .frontpageDesign:nth-child(odd) img:not(.arrowDown) {
        width: 40%;
        margin-left: 60%;
    }
    .frontpageDesign:nth-child(even) img:not(.arrowDown) {
        width: 40%;
        margin-right: 60%;
    }
    .frontpageDesign:nth-child(odd) .frontpageDesignDesc {
        top: 0;
    }
    .clickableTest img {
        width: 40%;
        display: inline;
        margin-left: 5%;
    }
    .clickableTest img:last-of-type {
        border: 1px solid #333;
    }

    /* animation */
    .mrBall > div {
        width: 81vw;
        height: 54vw;
    }
    div.toggleStage, div.mrBallOri {
        height: 3em;
    }
    .worksheetDesc {
        height: 13em;
    }
    .worksheet {
        top: 11em;
        left: 2vw;
    }
    .story {
        height: 170vw;
    }
    iframe.projectScene {
        width: 68vw;
        height: 68vw;
    }
    /* ux */
    .introSH {
        height: 650px;
    }
    div.line3 {
        bottom: 330px;
    }
    div.line2 {
        bottom: 350px;
    }
    img.logo {
        width: 60%;
        max-width: 480px;
    }
    .wdil {
        width: 13%;
        left: -13%;
    }
    .slideFat {
        width: 7%;
        left: -7%;
        top: 43%;
    }
    .aboutLogoDesign {
        padding: .5em 5em 2em 2em;
        height: 61%;
    }
}
/* 768 */
@media screen and (min-width: 48em){
    /* web */
    .opArt .sideToggle {
        font-size: 1.3em;
    }
    .responsiveSizes {
        width: 80vw;
        padding-left: 10vw;
    }
    .responsiveSizes h1 {
        margin-left: 0;
        font-size: 3em;
    }
    .wrapper {
        width: 600px;
        height: 562.5px;
        margin-top: 3em;
        margin-left: 10vw;
    }
    p.responsive {
        font-size: 2vw;
        position: absolute;
        left: 5vw;
        font-size: 1em;
    }
    p.responsive:nth-of-type(1) {
        top: 10%;
    }
    p.responsive:nth-of-type(2) {
        top: 14%;
    }
    p.responsive:nth-of-type(3) {
        top: 18%;
    }
    .wrapper ~a, .wrapper ~a ~img {
        margin-left: 0;
    }
    .frontpageTest, .navigationTest, .clickableTest, .opArtOri, .otherTest {
        width: 600px;
        margin: 0 auto;
        position: relative;
    }
    .frontpageDesignDesc {
        background-color: transparent;
    }
    .frontpageDesign:nth-child(odd) img:not(.arrowDown), .frontpageDesign:nth-child(even) img:not(.arrowDown), .frontpageDesignDesc {
        width: 200px;
    }
    .frontpageDesignDesc:first-of-type img.arrowDown {
        transform: rotate(270deg);
    }
    .frontpageDesign:nth-of-type(1) img:not(.arrowDown) {
        margin-left: 33%;
    }
    #desc22 {
        top: -100%;
        left: 66%;
    }
    #desc22 img {
        transform: rotate(0deg);
    }
    #frontpage22 {
        margin-left: 66%;
    }
    #desc33 {
        top: 0%;
        left: 33%;
    }
    #desc33 img {
        transform: rotate(90deg);
    }
    #frontpage33 {
        margin-left: 0;
        margin-top: -310px;
    }
    #desc44 {
        right: 80%;
    }
    #frontpage44 {
        margin-left: 33%;
    }
    #desc55 {
        top: -100%;
        left: 66%;
    }
    #desc55 img{
        transform: rotate(0deg);
    }
    #frontpage55 {
        margin-left: 66%;
    }
    .finalFrontpage {
        width: 66%;
        margin-top: -200px;
        border-right: 1px solid #aaa;
    }
    .clickableTest img {
        width: 30%;
        margin-left: 0;
    }
    .clickableTest img:last-of-type {
        margin-left: 37%;
        border: none;
    }
    .clickableTestDesc {
        position: absolute;
        width: 31%;
        margin-left: 33%;
        padding-top: 10%;
        font-size: .9em;
    }
    .otherTest {
        padding: 2em;
        padding-left: 0;
    }
    body#webDesign .opArtTests h1, body#webDesign .opArtTests h3 {
        text-align: left;
        margin-left: 0;
    }
    .navigationTest img:first-of-type {
        display: inherit;
    }
    .navigationTest img:not(first-of-type) {
        display: none;
    }
    .redesign img:not(.icon) {
        width: 40%;
        margin-left: 7%;
        display: inline;
    }
    /* animation */
    .worksheetDesc {
        height: 11em;
    }
    .worksheet {
        top: 9em;
        left: 1vw;
        height: 45vw;
    }
    .story {
        height: 147vw;
        max-height: 1300px;
    }
    iframe.projectScene {
        width: 73vw;
        height: 73vw;
    }
    img.drStrangelove, .strangeloveOri {
        width: 39%;
        left: 400px;
    }
}
/* 896 */
@media screen and (min-width: 56em){
    /* animation */
    .mrBall > div {
        width: 66vw;
        height: 44vw;
    }
    div.toggleStage, div.mrBallOri {
        height: 3em;
    }
    .story {
        width: 81vw;
        height: 135vw;
        max-height: 1400px;;
        margin: 2em auto;
    }
    .storyIdeaStyleTile {
        height: 61vw;
    }
    .storyboardWorksheet {
        height: 45vw;
    }
    .animationProjects {
        width: 81vw;
    }
    .worksheet {
        top: 11em;
    }
    .worksheetOri {
        width: 70%;
        right: 10em;
    }
    iframe.projectScene {
        max-height: 700px;
        max-width: 700px;
    }
    img.drStrangelove, .strangeloveOri {
        width: 370px;
        left: 400px;
    }
    /* ux */
    div.introSH, div.report, div.dilemma {
        width: 860px;
        margin: 0 auto;
    }
    div.line1 {
        bottom: 350px;
    }
}
/* 1000 */
@media screen and (min-width: 1000px){
    .responsiveSizes, .frontpageTest, .navigationTest, .clickableTest, .opArtOri, .otherTest {
        width: 800px;
        margin: 0 auto;
    }
    .responsiveSizes {
        padding-left: 0;
    }
    .wrapper {
        margin-right: 10vw;
    }
    .frontpageTest {
        width: 800px;
    }
    .gameImgs {
        margin-left: calc(50vw - 500px);
    }
}
/* 1280 */
@media screen and (min-width: 80em){
    /* web */
    body#webDesign div.half {
        width: 1280px;
        margin-left: calc(50vw - 640px);
    }
    .wrapper {
        margin-right: 50px;
    }
    p.responsive {
        font-size: 1.5em;
        position: absolute;
        padding-left: 0;
    }
    .responsiveSizes, .frontpageTest, .navigationTest, .clickableTest, .opArtOri, .otherTest {
        width: 1000px;
        margin: 0 auto;
    }




    /* animation */
    .mrBall > div {
        width: 999px;
        height: 666px;
    }
    div.toggleStage, div.mrBallOri {
        height: 3em;
    }
    .story {
        width: 999px;
    }
    .storyIdeaStyleTile {
        height: 710px;
    }
    .storyboardWorksheet {
        height: 55vw;
    }
}
/* super small*/
@media screen and (max-width: 480px){
}
/* grid */
