* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
	line-height: 1.5;
}
img {
    display: block;
    border: 0;
    width: 100%;
    height: auto;
}
.mainNav {
    width: 100%;
    height: 3em;
    overflow: hidden;
}
/*ux*/
div.segment {
    width: 100vw;
    position: relative;
}
div.intro {
    height: 470px;
}
img.hub {
    position: absolute;
    bottom: 1em;
    left: 0;
    z-index: 1;
}
div.line1 {
    width: 0;
    height: 4em;
    border-bottom: 1px dotted blue;
    position: absolute;
    bottom: 7em;
    right: calc(77% - 1em);
}
div.line1.lineAnimation1 {
    animation: lineToLeft 1s ease-in forwards;
}
@keyframes lineToLeft {
    to {
        width: 23%;
    }
}
div.line1.lineAnimation1 p {
    white-space: nowrap;
    overflow: hidden;
}
div.line2 {
    height: 1%;
    width: 60%;
    background-color: black;
    border-right: 1px dotted blue;
    position: absolute;
    bottom: 55%;
    right: 40%;
    z-index: 2;
}
div.line2.lineAnimation2 {
    animation: lineUp 1s ease-in forwards;
}
@keyframes lineUp {
    to {
        height: 100px;
    }
}
div.line2.lineAnimation2 p {
    white-space: nowrap;
    overflow: hidden;
}


img.logo {
    width: 30%;
    display: inline;
}
div.logoBlue, div.logoGrey {
    width: 300px;
    height: 300px;
}
div.logoBlue {
    background-color: darkblue;
}
div.logoGrey {
    background-color: darkgrey;
}
div.logoBlue img, div.logoGrey img {
    width: 300px;
    height: auto;
}

/* Grid */
@supports (grid-area: auto){
    @media screen and (min-width: 30em){
        body#ux {
            position: relative;
            overflow-x: hidden;
            display: grid;
            grid-template-columns: 100% 17em;
            grid-template-areas:
                "intro nav"
                "bmc nav"
                "report nav"
                "designDoc nav"
                "pitch nav"
                "linkTo nav";
        }
        .mainNav {
            grid-area: nav;
        }
        .intro {
            grid-area: intro;
        }
        .bmc {
            grid-area: bmc;
        }
        .report {
            grid-area: report;
        }
        .designDoc {
            grid-area: designDoc;
        }
        .pitch {
            grid-area: pitch;
        }
        .linkTo {
            grid-area: linkTo;
        }
    }
    @media screen and (min-width: 64em){
        div.intro {
            height: 570px;
        }
        img.hub {
            width: 70%;
            margin: 0 auto;
            position: absolute;
            bottom: 1em;
            left: 25%;
            z-index: 1;
        }
        div.line1 {
            width: 0;
            height: 4em;
            border-bottom: 1px dotted blue;
            position: absolute;
            bottom: 7em;
            right: calc(77% - 1em);
        }
        div.line1.lineAnimation1 {
            animation: lineToLeft 1s ease-in forwards;
        }
        @keyframes lineToLeft {
            to {
                width: 23%;
            }
        }
        div.line1.lineAnimation1 p {
            white-space: nowrap;
            overflow: hidden;
        }
        div.line2 {
            height: 1%;
            width: 60%;
            background-color: black;
            border-right: 1px dotted blue;
            position: absolute;
            bottom: 55%;
            right: 40%;
            z-index: 2;
        }
        div.line2.lineAnimation2 {
            animation: lineUp 1s ease-in forwards;
        }
        @keyframes lineUp {
            to {
                height: 100px;
            }
        }
        div.line2.lineAnimation2 p {
            white-space: nowrap;
            overflow: hidden;
        }
    }
}
.hide {
    display: none;
}
