* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
	line-height: 1.5;
}
a, a:hover, a:active, a:visited {
    color: #333;
    font-weight: bold;
}
main {
    position: relative;
}
img {
    display: block;
    border: 0;
    width: 100%;
    height: auto;
}
img.more {
    cursor: pointer;
}
.mainNav {
    width: 100%;
    height: 3em;
    overflow: hidden;
}
/* ux */
body#ux main {
    width: 100vw;
    min-width: 480px;
}
h1 {
    display: inline;
    margin-left: 1em;
}
h5 {
    margin: 0 2.5em;
}
img.icon {
    width: 40px;
    display: inline;
    margin-left: 1em;
}
.segment {
    width: 100%;
    position: relative;
    overflow-x: hidden;
}
div.infoSH {
    width: 80%;
    height: auto;
    padding: 1em;
    border: 1px solid black;
    border-radius: 1em;
    background-color: white;
    position: absolute;
    left: 10%;
    top: 5em;
    font-size: 13px;
    opacity: 0;
}
div.infoSH.show {
    z-index: 2;
    animation: showInfoSH .5s forwards;
}
@keyframes showInfoSH {
    to {
        opacity: 1;
    }
}
.introSH {
    height: 530px;
}
img.hub {
    position: absolute;
    bottom: 0;
}
div.line1 {
    height: 0;
    width: 30%;
    border-left: 1px dotted #2258A4;
    position: absolute;
    left: 5em;
    bottom: 50vw;
    padding-left: 1em;
}
div.line1.lineAnimation1 {
    animation: line1Up 1s ease-in forwards;
}
@keyframes line1Up {
    to {
        height: 100px;
    }
}
div.lines p {
    opacity: 0;
    line-height: .8;
    color: #2258A4;
    font-weight: bold;
}
div.line1 p {
    animation: showP .5s .7s forwards;
}
div.line2 p {
    animation: showP .7s 5.2s forwards;
}
div.line3 p {
    animation: showP 1s 2.1s ease-out forwards;
}
@keyframes showP {
    to {
        opacity: .85;
    }
}
div.line1.lineAnimation1 p, div.line2.lineAnimation2 p, div.line3.lineAnimation3 p {
    font-size: 14px;
    background: white;
    padding: .75em;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
}
div.line1.lineAnimation1 p {
    left: -3em;
}
div.line1.lineAnimation1 p:first-of-type {
    top: 2em;
}
div.line3.lineAnimation3 p:first-of-type {
    top: -5em;
}
div.line3.lineAnimation3 p:nth-of-type(3) {
    top: -1em;
}
div.line3.lineAnimation3 p:nth-of-type(2) {
    top: -3em;
}
div.line2.lineAnimation2 p:first-of-type {
    top: -7em;
    left: -1em;
}
div.line2.lineAnimation2 p:nth-of-type(2) {
    top: -5em;
    left: -1em;
}
div.line3 {
    height: 0;
    width: 0;
    border-right: 1px dotted #2258A4;
    border-top: 1px dotted #2258A4;
    position: absolute;
    bottom: 50%;
    right: 7em;
    z-index: 2;
}
div.line3.lineAnimation3 {
    animation: line3UpLeft 1s 1.6s ease-out forwards;
}
@keyframes line3UpLeft {
    50% {
        height: 50px;
        width: 0;
    }
    100% {
        height: 50px;
        width: 31%;
    }
}
div.line2 {
    height: 0;
    width: 0;
    border-right: 1px dotted #2258A4;
    border-top: 1px dotted #2258A4;
    position: absolute;
    bottom: 50%;
    right: 60%;
}
div.line2.lineAnimation2 {
    animation: line2UpLeft 1s 4.1s ease-out forwards;
}
@keyframes line2UpLeft {
    50% {
        height: 157px;
        width: 0;
    }
    100% {
        height: 157px;
        width: 110px;
    }
}
img.slideDown {
    display: block;
    height: 30px;
    width: 40px;
    margin: 2em auto;
}
div.descSH {
    text-align: center;
    padding: 1em 2em;
    margin-bottom: 2em;
}
div.descSH p {
    margin-top: 1em;
}
h2 {
    text-align: center;
    margin: 1em 0;
}
a.pdf {
    text-decoration: underline;
    margin: 1em 0 0 3em;
}
.report section {
    padding: .5em 3em;
}
.report section h3 {
    display: inline;
    margin: 1em 0;
    font-size: 1.3em;
}
.report section h3 ~img {
    width: 2em;
}
.report section p {
    display: none;
    height: 0;
    opacity: 0;
    margin-top: 1em;
}
.report section p.expand {
    display: inherit;
    animation: expandReport 1s ease-in forwards;
}
@keyframes expandReport {
    50% {
        height: auto;
        opacity: 0;
    }
    100% {
        height: auto;
        opacity: 1;
    }
}
img.pdf {
    width: 20px;
    margin-left: 0;
}
img.logo {
    width: 70%;
    max-width: 480px;
    margin-left: 5%;
}
.aboutLogoDesignWrapper {
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -90%;
    padding: 1.5em;
    font-size: 14px;
}
.aboutLogoDesignWrapper.slideOut {
    animation: wdilSlideOut .5 ease-out forwards;
    right: -45%;
}
@keyframes wdilSlideOut {
    to{
        right: 250px;
    }
}
.wdil {
    width: 9%;
    position: absolute;
    left: -7%;
    cursor: pointer;
}
.slideFat {
    width: 7%;
    position: absolute;
    left: -7%;
    top: 31%;
    cursor: pointer;
}
.aboutLogoDesign {
    background-color: white;
    padding: .5em 1em 2em 1em;
}
.aboutLogoDesign p {
    margin-top: 1em;
}
.aboutLogoDesign a {
    margin-left: 0;
}
.logoFinal {
    width: 32%;
    margin-left: 1%;
    float: left;
}
.pitch {
    text-align: center;
}
.pitch p, .dilemma p {
    padding: 0 2em;
    margin-bottom: 1em;
}
.pitch a {
    margin-left: 0em;
}
iframe {
    width: 100%;
    height: 0;
    border: none;
    margin: 1em 0;
}
.hide {
    display: none;
}
/* 576 */
@media screen and (min-width: 36em){
    .introSH {
        height: 650px;
    }
    div.line3 {
        bottom: 330px;
    }
    div.line2 {
        bottom: 350px;
    }
    img.logo {
        width: 60%;
        max-width: 480px;
    }
    .wdil {
        width: 13%;
        left: -13%;
    }
    .slideFat {
        width: 7%;
        left: -7%;
        top: 43%;
    }
    .aboutLogoDesign {
        padding: .5em 5em 2em 2em;
        height: 61%;
    }
}
/* 768 */
@media screen and (min-width: 56em){
    div.introSH, div.report, div.dilemma {
        width: 860px;
        margin: 0 auto;
    }
    div.line1 {
        bottom: 350px;
    }
}
/* grid */
